@charset "utf-8";
/*
Author: Luke Wulf
Date: April 24, 2023

Filename: djow_style.css

Unique styles for the Dad Joke of the Week page
*/

/*All Screens*/
html{
    height: 100%;
}

article{
    margin: 20px;
    padding: 10px;
    margin-top: 200px;
}
article > p{
    text-align: center;
}
article > p.updated{
    font-size: 13px;
}
/*Desktop*/
@media only screen and (min-width: 481px){
    body{
        height: 100%;
    }
    article > p.joke{
        font-size: 30px;
    }
}

/*Phone*/
@media only screen and (max-width: 480px){
    article{
        margin: 10% 10% 20% 10%;
    }
    body{
        /*height: 100%;*/
    }
    body > header > h1{
        width: 80%;
        font-size: 1.5em;
    }
    article > p.joke{
        font-size: 28px;
        margin-bottom: 5px;
    }
}