@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/*
Author: Luke Wulf
Date: April 18, 2023

Filename: main.css

Style applied to all pages, mainly dealing with heading, body and html styles
*/
html{
    background-color: rgba(0, 0, 0, 0.85);
    font-family: 'Press Start 2P';
    color: rgb(180, 180, 180);
    width: 100%;
}
body{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    max-width: 1040px;
    background-color: rgb(25, 25, 25);
}
body::after{
    clear: both;
    content: "";
    display: table;
}
body > header > nav.horizontalNav li{
    transition: background-color 0.2s linear;
}
body > header > nav.horizontalNav li:hover{
    background-color: rgb(180, 180, 180);
    color:rgba(0, 0, 255, 0.85);
}
nav.horizontalNav a{
    text-align: center;
    color: rgb(105, 105, 255);
}
nav.horizontalNav a#here{
    color:blue;
}

/*HTML and Body Set Up*/
@media only screen and (min-width:481px){
    /*Header/Navigation*/
    body{
        min-width: 640px;
    }
    body > header > h1{
        color:orange;
        text-shadow: rgba(0, 0, 255, 0.85) -3px 3px 8px;
        font-size: 27px;
        padding: 10px;
    }
    body > header  hr{
        height: 0.2em;
        background-color: rgb(180, 180, 180);
        border: rgb(180, 180, 180) 0.5px solid;
    }
    body > header > nav.horizontalNav li{
        border-top: 3px rgb(180, 180, 180) solid;
        border-bottom: 3px rgb(180, 180, 180) solid;
        padding-top: 0;
        width: 20%;
        display: block;
        float: left;
        height: 40px;
    }
    nav.horizontalNav a{
        height: 100%;
        padding-top: 7px;
        display: block;
    }
    a#navicon, header > hr{
        display: none;
    }
}

@media only screen and (max-width: 480px){
    body{
        width: 100%;
    }
    body > header > h1{
        color: orange;
        text-shadow: rgba(0, 0, 255, 0.85) -3px 3px 8px;
        font-size: 2em;
        padding: 10px;
        float: left;
    }
    body > header > nav.horizontalNav ul{
        display: none;
    }
    body > header > nav.horizontalNav > a > img{
        height: 3.3em;
        background-color: rgb(46, 46, 46);
        float: right;
        vertical-align: center;
    }
    a#navicon:hover+ul, nav.horizontalNav ul:hover{
        display: block;
        clear: both;
        width: 100%;
        text-align: center;
        font-size: 1.8em;
    }
    nav.horizontalNav > ul > li{
        padding: 15px 0;
        border-top: 3px rgb(180, 180, 180) solid;
    }

    body > header > hr{
        clear: both;
    }
}