@charset "utf-8";
/*
Author: Luke Wulf
Date: April 18, 2023

Filename: reset.css

Basic Reset for all values and browser settings 
for all pages. Also adds border box cause i like it
*/
address, article, aside, blockquote, body, cite,
div, dl, dt, dd, em, figcaption, figure, footer,
h1, h2, h3, h4, h5, h6, header, html, img,
li, main, nav, ol, p, section, span, ul, hr,
table, td, th, tr{
   background: transparent;
   font-size: 100%;
   margin: 0;
   padding: 0;
   vertical-align: baseline;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
nav ul{
    list-style: none;
}
nav a{
    text-decoration: none;
}
body{
    line-height: 1.5;
}